.font_roboto {
    font-family: 'Roboto', sans-serif;
}

.font_anonymous_pro {
    font-family: 'Anonymous Pro', monospace;
}

.font_montserrat {
    font-family: 'Montserrat', sans-serif;
}

.font_ubuntu {
    font-family: 'Ubuntu', sans-serif;
}

/*Font Sizes*/
.xs-txt {
    font-size: 12px;
}
.s-txt {
    font-size: 12px;
}
.m-txt{
    font-size: 15px;
}
.l-txt{
    font-size: 25px;
}

.xl-txt{
    font-size: 35px;
}

/*Window height*/
.w-h {
    height: 800px;
}

.h1 {
    font-size: 35px;
    font-family: Roboto;
    color: #22ff22;
}

.h2 {
    font-size: 30px;
    font-family: Ubuntu;
    color: #22ff22;
}

.h3 {
    font-size: 20px;
    font-family: Ubuntu;
    color: #22ff22;
}



.capitalize {
    text-transform: capitalize;
}


body {
    padding:0;
    margin:0;
    font-family: 'Anonymous Pro', monospace;

}

.loading {
    align-items: center;
    background: #212121;
    color: #22ff22;
    display: flex;
    justify-content: center;
}

.loading .component {
    margin-left: 50%;
    margin-right: 50%;
}

.loading .display {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

.loading .display i {
    margin-left: 10px;
}


/*====================
        LANDING
======================*/

.landing {
    position: absolute;
    /*top: 50%;*/
    left: 50%;
    width: 400px;
    height: 160px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 2px solid #22ff22;
}

.landing .wrapper {
    border: 2px solid #22ff22;
    height: 121px;
    margin: 6px;
    text-align: center;
    padding: 21px 70px 0px 70px;
}

.landing .wrapper .head {
    color: #2e7d32;
    font-size: 15px;
    margin-bottom: 5px;
}

.landing .wrapper .title {
    color: #22ff22;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.landing .wrapper .sub {
    color: #43a047;
    font-size: 10px;
    margin-bottom: 5px;
}

.social-icons a {
  display: inline-block;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #2e7d32;
  color: #fff !important;
  border-radius: 100%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin-right: 1rem;
}

.social-icons a:last-child {
  margin-right: 0;
}

.social-icons a:hover {
  background-color: #22ff22;
}




/*====================
        ABOUT
======================*/

.about {
    background: #2C2C2C;
    color: #22ff22;
    padding: 0 15px 0 20px;
}

.about .body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

.about .body .content {
    width: 40%;
}

/*.about .body {*/
    /*display: grid;*/
    /*max-width: 600px;*/
    /*grid-template-columns: 1fr 1fr;*/
    /*justify-content: space-evenly;*/
    /*margin-top: 30px;*/
/*}*/

/*.about .body .content-1 {*/
    /*grid-column-start: 1;*/
    /*grid-column-end: 2;*/
/*}*/

/*.about .body .content-2 {*/
    /*grid-column-start: 2;*/
    /*grid-column-end: 3;*/
/*}*/

.about .h2 {
    margin-top: 30px;
}

.about .h3 {
    margin-top: 25px;
    margin-bottom: 20px;
}

.content .dev-icons {
    display: flex;
    flex-wrap: wrap;
    font-size: 4.5rem;
    margin: 15px 10px;
    height: 300px;
}

.dev-icons i {
    margin-right: 1.5rem;
    width: 100px;
}

.dev-icons i:hover {
  color: #2e7d32;
}




/*====================
        CARROUSEL
======================*/


/*.carrousel_wrapper {*/
    /*height:700px;*/
    /*overflow: hidden;*/
/*}*/

/*.carrousel_image {*/

    /*background-size: cover !important;*/
/*}*/




/*!*====================*/
        /*PORTFOLIO*/
/*======================*!*/

/*.web_projects .footer {*/
    /*text-decoration: none;*/
    /*font-size: 15px;*/
    /*text-align: center;*/
    /*margin-top: 25px;*/
/*}*/



/*!*====================*/
        /*PORTFOLIO*/
/*======================*!*/



/*.technologies .body {*/
    /*display: flex;*/
    /*height: 250px;*/
    /*background: #22ff22;*/
/*}*/

/*.technologies .body .devcon{*/
    /*color: white;*/
    /*width: 100px !important;*/
    /*!*height: 24px !important;*!*/
/*}*/